/* Reset básico para que todo mida igual */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    color: #333;
}

.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    background-color: #f1ebd8;
    color: black;
}

header a { 
    color: black; 
    text-decoration: underline;
    font-weight: bold;
}

main {
    display: flex;
    flex: 1; /* Empuja el footer al fondo */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separation {
    justify-content: space-around;
}

/* Sidebars */
nav, aside {
    width: 220px;
    background-color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

/* Contenido Principal */
article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1ebd8;
}

.contenido-interior {
    padding: 30px 40px;
    width: 100%;
    max-width: 1200px; /* Para que en pantallas gigantes no se estire infinito */
}

footer {
    background-color: #f1ebd8;
    color: black;
    padding: 15px;
    text-align: center;
}